<!doctype html public "🐈">
<meta charset="utf-8">
<title>DBOX</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" integrity="sha256-K3Njjl2oe0gjRteXwX01fQD5fkk9JFFBdUHy/h38ggY=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA=" crossorigin="anonymous" />
<style>body{background-color:#000c09;}</style>
<div class="container"></div>
{{#dev}}
<script defer async src="//{{devserverHost}}:{{devserverPort}}/dist/frontend/DboxPanel.js"></script>
{{/dev}}
{{^dev}}
<script defer async src="/dist/frontend/DboxPanel.js"></script>
{{/dev}}