<!doctype html public "🐈">
<meta charset="utf-8">
<title>DBOX</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>body{background-color:transparent;max-width:1920px;min-width: 1920px;max-height:1080px;min-height: 1080px;}</style>
<div class="container"></div>
{{#dev}}
<script defer async src="//{{devserverHost}}:{{devserverPort}}/dist/frontend/DboxPanel.js"></script>
{{/dev}}
{{^dev}}
<script defer async src="/dist/frontend/DboxPanel.js"></script>
{{/dev}}